#btnC{
    -fx-background-color: linear-gradient( #9acd32, #2e8b57);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

#btnIC {
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}

#btnC:hover{
    -fx-background-color: linear-gradient( #66ff66, #4dff4d);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;
}

#btnIC:hover {
   -fx-background-color: linear-gradient(#ff704d,  #ff5c33);
   -fx-background-radius: 30;
   -fx-background-insets: 0;
   -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
   fx-text-fill: black;
}


#leftArrow{
   -fx-background-color: transparent;
}

#leftArrow:hover{
   -fx-background-color:  #e6e6e6;
}

#btnEdit{
   -fx-background-radius: 30;
    -fx-background-insets: 0;
}

#btnEdit:hover{
    -fx-background-color: #e6e6e6;
    -fx-background-radius: 30;
    -fx-background-insets: 0;
}

#table_detail .button{
    -fx-graphic: url("../images/cancel202.png");
    -fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: black;
}


#table_detail .button:hover{
    -fx-background-color: linear-gradient(#ff704d,  #ff5c33);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: black;

}

